.hero {
  background-color: var(--fresh-green);
  max-height: 280px;

  .hero-content {
    padding-block: 32px;

    display: flex;
    justify-content: space-between;
  }

  h1 {
    font-size: 48px;
  }

  p {
    line-height: 1.6;
  }

  .reserve-btn {
    margin-top: 16px;
  }

  img {
    max-width: 260px;

    @media (max-width: 480px) {
      display: none;
    }
  }
}